name: Run tests

on:
  pull_request:
  push:
    branches:
      - master
    tags: '*'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ['1.6', '1', 'nightly']
        julia-arch: [x64]
        os: [ubuntu-latest, macOS-latest, windows-latest]
        exclude:
          - os: macOS-latest
            julia-arch: x86

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-runtest@master
        with:
          coverage: false
      # - uses: julia-actions/julia-processcoverage@v1
      # - uses: codecov/codecov-action@v1
      #   with:
      #     file: ./lcov.info
      #     flags: unittests
      #     name: codecov-umbrella
      #     fail_ci_if_error: false
      #     token: ${{ secrets.CODECOV_TOKEN }}
